body {
    margin: 0;
}

.photoHeader {
    /* overflow: hidden; */
    max-width: 1922px;
    /* width: 100%; */
    /* display: flex; */
    position: relative;
    margin: 0 auto;
}

.photos {
    overflow: hidden;
    max-width: 1922px;
    /* width: 100%; */
    /* display: flex; */
    position: relative;
}

.photos::after {
    background: linear-gradient(180deg,rgba(0,0,0,.0001) 31.42%,#000);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.coverImg {
    max-height: 400px;
}

.aboutContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1272px;
    min-width: 1144px;
    color: white;
    /* display: flex; */
    margin: auto;
}

.about {
    width: 1272px;
    /* display: flex; */
    justify-content: flex-end;
    flex-direction: column;
}

.infoContainer {
    margin:auto;
    width: 1144px;
    /* display: flex; */
}

/* .catContainer {
    display: flex;
} */

/* .featContainer {
    display: flex;
} */

.feat {
    /* display: flex; */
    align-items: center;
}

.fa-check {
    color: rgb(5, 168, 130);
}


.menuContainer {
    border: solid 2px green;
    width: 750px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.itemContainer {
    border: solid 1px #eeeeef;
    border-radius: 3px;
    width: 350px;
    height: 100px;
    margin: 20px 0 20px 0;
}

.itemContainer:hover {
    border: solid 1px #b6b6b6;
    box-shadow: 0 0 0 1px rgba(67,41,163,.08), 0 1px 5px 0 rgba(67,41,163,.08);
}

.sidebarContainer {
    width: 365px;
    height: 100%;
    padding: 20px;
    position: sticky;
    top: 0;
}

.sidebar {
    border: solid 1px #eeeeef;
    border-radius: 3px;
    color: #00838f
}

/* .container {
    display: flex;
} */
