body {
    margin: 0;
    /* max-width: 100%;
    overflow-x: hidden; */
}

.photoHeader {
    overflow: hidden;
    max-width: 1900px;
    width: 100%;
    display: flex;
    position: relative;
}

.photoHeader::after {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(0, 0, 0));
}

.coverImg {
    max-height: 400px;
    
    /* object-fit: cover; */
    /* overflow: clip; */
}

.aboutContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1272px;
    min-width: 1144px;
    color: white;
    display: flex;
    margin: auto;
}

.about {
    width: 1272px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.infoContainer {
    margin:auto;
    width: 1144px;
    display: flex;
}

.menuContainer {
    border: solid 2px green;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.itemContainer {
    border: solid 1px #eeeeef;
    border-radius: 3px;
    width: 350px;
    height: 100px;
    margin: 20px 0 20px 0;
}

.sidebarContainer {
    width: 365px;
    height: 100%;
    padding: 20px;
}

.sidebar {
    border: solid 1px #eeeeef;
    border-radius: 3px;
}
