body {
    margin: 0;
}

.photoHeader {
    max-width: 1922px;
    position: relative;
    margin: 0 auto;
}

.photos {
    overflow: hidden;
    max-width: 1922px;
    position: relative;
}

.photos::after {
    background: linear-gradient(180deg,rgba(0,0,0,.0001) 31.42%,#000);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.coverImg {
    max-height: 400px;
}

.aboutContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1272px;
    min-width: 1144px;
    color: white;
    margin: auto;
}

.about {
    justify-content: flex-end;
    flex-direction: column;
    padding: 40px 64px;
}

#bizpageHead {
    font-size: 50px;
    line-height: 54px;
    font-weight: 900;
    margin: 0;
}

.totalReviews {
    align-items: center;
}

.categories {
    margin: 0;
}

.infoContainer {
    margin:auto;
    width: 1144px;
}

#covid {
    padding: 24px 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 26px;
}

#services {
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0;
}

.featContainer {
    margin-bottom: 24px;
}

.feat {
    align-items: center;
    margin-right: 20px;
}

.fa-check {
    color: rgb(5, 168, 130);
    padding: 10px 10px 10px 0px;
}

#menuHead {
    justify-content: space-between;
    padding-top: 24px;
}

#addMenuBtn {
    text-align: center;
    align-self: center;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
}

.menuContainer {
    width: 750px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.foodBtn {
    margin-right: 5px;
    padding: 0 0 0 3px;
    height: 30px;
    width: 30px;
}

.trash {
    padding: 0;
}

.itemContainer {
    display: flex;
    width: 350px;
    height: 100px;
    margin: 20px 0 20px 0;
    padding-left: 15px;
    align-items: center;
    position: relative;
}

.card {
    border: solid 1px #eeeeef;
    border-radius: 3px;
}

.card:hover {
    border: solid 1px #b6b6b6;
    box-shadow: 0 0 0 1px rgba(67,41,163,.08), 0 1px 5px 0 rgba(67,41,163,.08);
}

.foodIconContainer {
    height: 100px;
    width: 100px;
    color: #eeeeef;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #eeeeef;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.sidebarContainer {
    width: 365px;
    height: 100%;
    padding: 20px;
    position: sticky;
    top: 0;
}

.sidebar {
    border: solid 1px #eeeeef;
    border-radius: 3px;
    color: #00838f;
    padding: 0 15px;
    height: 260px;
}

.sectionBorder {
    border-top: solid 1px #eeeeef;
}

.infoAboutHead {
    margin-bottom: 5px;
}

.bizpageSmallText {
    font-size: 15px;
    color: #999;
    margin-top: 0px;
}

.startReviewContainer {
    border: 1px solid #eeeeef;
    border-radius: 4px;
    box-shadow: 0px 0px 15px  #dbd9e0;
    height: 112px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 45px;
    width: 710px;
}

.currentUserContainer {
    height: 100px;
    width: 100px;
}

.reviewLink {
    color: #00838f;
    font-weight: bold;
}

.reviewLink:hover {
    text-decoration: underline;
}

.reviewsContainer {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.review {
    padding-top: 15px;
    width: 710px;
}

.reviewHead {
    display: flex;
    justify-content: space-between;
}

.comment {
    font-size: 14px;
    font-weight: lighter;
    padding-right: 30px;
    line-height: 200%;
}

.editReview {
    padding: 5px 0 0 15px;
    margin: 0 0 0 0;
}

.reviewUser {
    padding-left: 20px;
}
