/* .pageContainer {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
} */

#formpageContainer {
    background: #f4f4f4;

}

.formContainer {
    max-width: 600px;
    background: white;
    border: 1px solid #eeeeef;
}

.form {
    margin: auto;
    height: 700px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input {
    width: 512px;
    padding: 13px 15px 13px 15px;
    border: solid 1px #bbbac0;
    border-radius: 3px;
}

.input:hover {
    border-color: #00838F;
}

.input:focus {
    outline: none;
    border-color: #00838F;
}

.time {
    display: flex;
    justify-content: space-between;
    width: 545px;
}

#timeInput {
    width: 50px;
}

#submitBtn {
    height: 38px;
    width: 190px;
}

.optionContainer {
    display: flex;
    flex-wrap: wrap;
}

.label {
    position: relative;
    margin-bottom: 12px;
    font-size: 15px;
}

.checkContainer {
    display: flex;
}

#textArea {
    resize: none;
}

.authPage {
    justify-content: center;
}

.authFormContainer {
    align-content: center;
    padding: 100px 0 0;
}

.authForm {
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;
}

.authHead {
    color: #d32323;
}

.authSubhead {
    font-weight: bold;
    font-size: 15px;
}

.authNavlink {
    color: #0073bb;
}

.authNavlink:hover {
    text-decoration: underline;
}

#demoBtn {
    background-color: black;
    border: 1px solid black;
}

.authInput {
    width: 300px;

}

.authBtn {
    width: 330px;
    font-weight: bold;
    height: 42px;
}

#authDivider {
    color: #666;
}

.smallText {
    font-size: 11px;
    color: #999;
}
