#formpageContainer {
    background: #f4f4f4;
    padding: 70px;
}

.formContainer {
    max-width: 600px;
    background: white;
    border: 1px solid #eeeeef;
    margin: auto;
    padding: 50px;
}

.form {
    margin: auto;
    height: 700px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input {
    width: 512px;
    padding: 13px 15px 13px 15px;
    border: solid 1px #bbbac0;
    border-radius: 3px;
}

.input:hover {
    border-color: #00838F;
}

.input:focus {
    outline: none;
    border-color: #00838F;
}

.time {
    display: flex;
    justify-content: space-between;
    width: 545px;
    align-items: center;
}

.clock {
    width: 150px;
    justify-content: space-between;
}

.timeInput {
    width: 30px;
}

.timeSelect {
    width: 55px;
    padding: 4px;
}

.timeHead {
    margin: 0;
}

#submitBtn {
    height: 38px;
    width: 190px;
}

.optionContainer {
    display: flex;
    flex-wrap: wrap;
}

.label {
    position: relative;
    margin-bottom: 12px;
    font-size: 15px;
}

.checkContainer {
    display: flex;
}

#textArea {
    resize: none;
    height: 16px;
}

.authPage {
    justify-content: center;
}

.authFormContainer {
    align-content: center;
    padding: 70px 0 0;
}

.authForm {
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;
    padding-right: 70px;
}

.authHead {
    color: #d32323;
    margin-top: 0;
}

.authSubhead {
    font-weight: bold;
    font-size: 15px;
}

.authNavlink {
    color: #0073bb;
}

.authNavlink:hover {
    text-decoration: underline;
}

#demoBtn {
    background-color: black;
    border: 1px solid black;
}

.authInput {
    width: 272px;
    height: 6px;
    margin-bottom: 10px;
}

.authBtn {
    width: 305px;
    font-weight: bold;
    height: 42px;
}

#authDivider {
    color: #666;
}

.smallText {
    font-size: 11px;
    color: #999;
}

.authRight {
    padding-left: 70px;
}

.foodInput {
    margin-bottom: 15px;
}

#foodFormBtns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#addAnother {
    background-color: #fff;
    border: 1px solid black;
    color: black;
}

.error {
    color: #f43939;
}
