.pageContainer {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#formpageContainer {
    background: #f4f4f4;

}

.formContainer {
    max-width: 600px;
    background: white;
    border: 1px solid #eeeeef;
}

.form {
    margin: auto;
    height: 700px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input {
    width: 512px;
    padding: 13px 15px 13px 15px;
    border: solid 1px #bbbac0;
    border-radius: 3px;
}

.input:hover {
    border-color: #00838F;
}

.input:focus {
    outline: none;
    border-color: #00838F;
}

.time {
    display: flex;
    justify-content: space-between;
    width: 545px;
}

#timeInput {
    width: 230px;
}

.submitBtn {
    height: 38px;
    width: 190px;
    font-size: 18px;
    padding: 0 13px 0 13px;
    background: #f43939;
    color: #fff;
    border: 1px solid #f43939;
    border-radius: 4px;
}

.optionContainer {
    display: flex;
    flex-wrap: wrap;
}

.label {
    position: relative;
    margin-bottom: 12px;
    /* cursor: pointer; */
    font-size: 15px;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

.checkContainer {
    display: flex;
}

#textArea {
    resize: none;
}
