.landingContainer {
    display: flex;
}

.imgContainer {
    max-height: 800px;
    overflow: hidden;
}

.landingImg {
    max-width: 800px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.landingRight {
    width: 50%;
    max-width: 700px;
    display: flex;
    justify-items: center;
    align-items: center;
}

/* .rightContainer {
    padding: 64px 100px;
} */
