.nav {
    width: 100%;
    border-bottom: 1px solid #eeeeef;
    padding: 0.5em 0
}

.navList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

.left {
    grid-column-start: 1;
}

.middle {
    grid-column-start: 2;
    justify-self: center;
}

.right {
    grid-column-start: 3;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    align-items: center;
}

.searchForm {
    height: 48px;
    width: 648px;
    display: flex;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 15px  #dbd9e0;
}

.searchInput {
    height: 48px;
    width: 600px;
    border: 0px solid #eeeeef;
    border-radius: 4px 0 0 4px;
    padding: 13px 16px;
}

.searchBtn {
    background: #f43939;
    outline: none;
    border: 1px solid #f43939;
    border-radius: 0 4px 4px 0;
    height: 48px;
    width: 48px;
    position: relative;
}

.iconContainer {
    position: absolute;
    top: 9px;
    left: 10px;
    height: 25px;
    width: 25px;
}

.fa-search {
    color: white;
}
