/* TODO Add site wide styles */
body {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.btn {
    height: 38px;
    font-size: 18px;
    padding: 0 13px 0 13px;
    background: #f43939;
    color: #fff;
    border: 1px solid #f43939;
    border-radius: 4px;
}

.btn:hover {
    background: #f40d15;
    cursor: pointer;
    border: 1px solid rgba(67,41,163,.08);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
}

.navLink {
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    color: #2b273c;
    border: 1px solid transparent;
}

.navbarLink:hover {
    background-color: #eeeeef;
    border: 1px solid #eeeeef;
    border-radius: 5px;
}

/* #btnLink {
    width: 185px;
    height: 55px;
    background-color: #f43939;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    line-height: 55px;
    text-decoration: none;
    color: #fff;
} */
